PORT=3001

# Database config
DATABASE_URL=""

# Better-Auth config
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
API_BASE_URL="http://localhost:3001"

# Google Auth Login
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""

# URL Front-end
WEB_APP_BASE_URL="http://localhost:3000"